modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start worker"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start worker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run worker"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_PAYPAL_CLIENT_ID = "AVH5-CoY-PDfHQV46wcKn4ZlcItmmjfjINXKs3Gonfn6pDvr5_DqsB6TkMHiFSe-uEMkfAgoJ2BNAd3V"
VITE_STRIPE_PUBLIC_KEY = "pk_live_51NVFe5E4nt1bzpPdTRAVmYqmUZ1KQzWSpIzFFcAUPfybXXsxLJ44zLM9YVw7wdYY26rIVTRGnUGYYAQghVSuo1Kz00gaGzBfEK"
VITE_REMOTE_FALLBACK = "1"
VITE_API_BASE = "https://bet62apostasesportivas.bet62.workers.dev"
VITE_FORCE_REMOTE = "1"
STATPAL_KEY = "fbfa4d1e-0ac1-421d-8059-9b455349fbbb"
